// reset
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container{
    width: 998px;
    margin: auto;
}

.d_flex{
    display: flex;
    flex-wrap: nowrap;
}

.hidden{
    display: none;
}
