// reset
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container{
    width: 998px;
    margin: auto;
}
.width_100{
    width: 100%;
}

.d_flex{
    display: flex;
    flex-wrap: nowrap;
}
.d_flex_col{
    display: flex;
    flex-direction: column;
}

.hidden{
    display: none;
}

.title_section{
    color: $text_color;
    line-height: 40px;
    font-size: 24px;
    margin: 50px;
}
