#site_header{
    color: $brown;

    img{
       height: 300px;
       
    }
    h1{
        line-height: 60px;
        font-size: 38px;
    }
    h5{
        line-height: 35px;
        font-size: 20px;
        font-weight: 300;
        padding-bottom: 30px;
    }
    button{
        background-color: $blue;
        color: white;
        padding: 5px;
        font-weight: 600;
        border-radius: 5px;
        margin-bottom: 20px;

        &:hover{
            background-color: $brown;
            cursor: pointer;
        }

        img{
            height: 15px;
            padding: 0 2px;
        }
    }

    p{
        font-size: 14px;
    }
}


#navbar{
    background-color: $bg_white;
    height: 80px;
    padding: 10px;
    border-bottom: 1px solid $brown;
    justify-content: space-between;
    align-items: center;
    
    .logo{
        height: 25px;
    }

    a{
        text-decoration: none;
        padding-left: 10px;
        list-style: none;
        color: $brown;
        padding-top: 10px;

        i{
            font-size: 12px;
            padding-left: 5px;
        }
    }

    button{
        padding: 5px;
        margin-left: 10px;
        background: $bg_white;
        border: 1px solid $blue;
        color: $blue;
        font-weight: 600;
        border-radius: 5px;
        vertical-align: middle;

        &:hover{
            background-color: $bg_orange;
            cursor: pointer;
        }

        img{
            height: 15px;
        }

    }
}

#jumbotron{
    padding: 50px 0;
}
