@import './src/partials/_variables';
@import './src/partials/_common';
@import './src/partials/_mediaquery';
@import './src/partials/_header';
@import './src/partials/_main';



#site_main{
    .solutions{
        background-color: $bg_orange;
        height: 100%;
        padding: 70px;
        text-align: center;


        .solutions_top{
            justify-content: center;
            
            .card{
                padding: 0 0px;
                text-align: center;
                margin: auto;

                img{
                    height: 130px;
                }
                p{
                    color: $text_color;
                    font-size: 14px;
                    padding: 10px 0;
                }
            }
            .solution_second_row{
                img{
                    height: 300px;
                    margin: 70px;
                }
            }
            hr{
                background-color: $text_color;
                height: 3px;
                border: 1px solid $bg_orange;
            }
    
        }



    }
}